@using Raiduga.Web.Localization


<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<a href="/">
				<div class="brand">@Translations.SiteName</div>
				<div class="brand-caption">
					@Translations.Header_Title
				</div>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="title">
				@Translations.Contacts_Title
			</div>
			@Html.Partial("~/Views/Contact/_FastContactsPartial.cshtml")
		</div>
		<div class="col-md-4">
			<div class="title">
				Карта сайту
			</div>
			<div class="row sitemap">
				<div class="col-md-6">
					<i class="fa fa-home" aria-hidden="true"></i><a href="@Url.Action("Index", "Home")">@Translations.Home_Title</a>
				</div>
				<div class="col-md-6">
					<i class="fa fa-calendar" aria-hidden="true"></i><a href="#">Розклад</a>
				</div>
				<div class="col-md-6">
					<i class="fa fa-bars" aria-hidden="true"></i><a href="@Url.Action("Index", "Service", new { area = "" })">@Translations.Service_Title</a>
				</div>
				<div class="col-md-6">
					<i class="fa fa-newspaper-o" aria-hidden="true"></i><a href="@Url.Action("Index", "Contact")">@Translations.Contacts_Title</a>
				</div>
				<div class="col-md-6">
					<i class="fa fa-newspaper-o" aria-hidden="true"></i><a href="@Url.Action("Index", "Article")">@Translations.Articles_Title</a>
				</div>
				<div class="col-md-6">
					<i class="fa fa-info-circle" aria-hidden="true"></i><a href="@Url.Action("Index", "About")">@Translations.About_PageTitle</a>
				</div>
				@*<div class="col-md-6"><a href="@Url.Action("Index", "Admin", new { area = "Admin" })">Admin</a></div>*@
			</div>
		</div>
	</div>
	<div class="row social">
		<div class="col-md-12">
			<a href="https://www.facebook.com/CentrRaiduga/" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
			<a href="https://vk.com/center_raiduga" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i></a>
			<a href="https://www.instagram.com/raiduga8/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<br />
			<p>
				<address>
					@Translations.DevelopedBy <a href="http://www.digitalleader.solutions"><strong>Digital Leader</strong></a>
				</address>
			</p>
		</div>
	</div>
</div>
