@using Microsoft.AspNet.Identity
@using Raiduga.Web.Localization
@if (Request.IsAuthenticated)
{
	using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
	{
		int? count = ViewBag.NewMessagesCount == null ? new int?() : ViewBag.NewMessagesCount;
		@Html.AntiForgeryToken()

		<div class="btn-group">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fa fa-user"></i>&nbsp;<i class="fa fa-caret-down"></i>
				@if (count.HasValue)
				{
					if (count > 0)
					{
						<i class="fa fa-envelope"></i>
					}
					else
					{
						<i class="fa fa-envelope-open-o"></i>
					}
					<span class="badge">@count</span>
				}
			</button>

			<ul class="dropdown-menu">

				@if (count.HasValue)
				{

					<li>
						<a href="@Url.Action("Index", "Messages", new { area = "Admin" })">
							@if (count > 0)
							{
								<i class="fa fa-envelope"></i>
							}
							else
							{
								<i class="fa fa-envelope-open-o"></i>
							}
							@Translations.Messages_Title <span class="badge">@count</span>
						</a>
					</li>
				}

				<li>
					@{
		var hello = string.Format("{0} {1}!", Translations.Login_Hello, User.Identity.GetUserName());
					}
					<a href="@Url.Action("Index", "Manage")"><i class="fa fa-cog"></i>@hello</a>
				</li>
				<li>
					<a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i>@Translations.Login_LogOff</a>
				</li>
			</ul>
		</div>
	}
}
else
{
	<div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class="fa fa-user"></i>&nbsp;<i class="fa fa-caret-down"></i>
		</button>
		<ul class="dropdown-menu">
			<li>
				<a href="@Url.Action("Register", "Account", new { @id = "registerLink" })">@Translations.Login_RegisterNew</a>
			<li>
				<a href="@Url.Action(" login", "Account" , new { @id="loginLink" })">@Translations.Login_Title</a>
			</li>
		</ul>
	</div>
}