@using Raiduga.Web.Localization
@model List<Raiduga.Web.Models.Service.ServiceViewModel>

<div class="services">
	<div class="row">
		@foreach (var item in Model)
		{
			<div class="col-md-4 service-block">
				<div class="thumbnail">
					@{
			var srcAction = item.ImageId.HasValue ?
			Url.Action("Show", "File", new { area = "", id = item.ImageId }) :
			string.Empty;
					}
					<img src="@srcAction" alt="@item.Name" />
					<div class="caption text-center">
						<h3><strong>@item.Name</strong></h3>
						<hr />
						<ul class="text-left">
							@foreach (var course in item.Courses.OrderBy(c => c.PriorityOrder).Take(5))
							{
								<li><i class="fa fa-certificate"></i> @course.Name</li>
							}
						</ul>
					</div>
					<p class="text-center">
						<a href="@Url.Action("CourseList", "Service", new { name = item.Name }, null)" class="btn btn-primary">@Translations.Service_AllCourses</a>
					</p>
				</div>
			</div>
		}
	</div>
</div>