@using Raiduga.Web.Localization
@model List<Raiduga.Web.Models.Service.ServiceViewModel>

@{
	ViewBag.Title = Translations.Service_Title;
}

<h1 class="title">@Translations.Service_Title</h1>

<div class="services-home">
	@foreach (var item in Model)
	{
		<div class="service-block center-block">
			<div class="row">
				<div class="col-md-offset-1 col-md-4">
					@{
		var srcAction = item.ImageId.HasValue ?
			Url.Action("Show", "File", new { area = "", id = item.ImageId }) :
			string.Empty;

					}
					<img src="@srcAction" alt="@item.Name" />
				</div>
				<div class="col-md-6 desc-box">
					<h2><strong>@item.Name</strong></h2>
					<hr />
					<p>
						@item.Description
					</p>
					<br />
					<a href="@Url.Action("CourseList", "Service", new { name = item.Name }, null)" class="btn btn-primary pull-right">@Translations.Service_Details</a>
				</div>
			</div>
		</div>
	}
</div>


@section SEOtags {
    <meta name="description" content="Послуги Центру Райдуга для дошкільнят, школярів, дорослих. Список курсів.">
    <meta name="keywords" content="центр райдуга, послуги, курси, для дошкільнят, школярів, дорослих">
}