@using Raiduga.Web.Localization

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - Администрирование</title>

	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">

	@Styles.Render("~/Content/css")
	@Styles.Render("~/Content/less")
	@Styles.Render("~/Content/timepicker-less")
	@Styles.Render("~/Content/fonts")
	@Styles.Render("~/Content/Admin/less")

	@Scripts.Render("~/bundles/modernizr")

</head>
<body class="admin">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="title">
					@Html.ActionLink("Райдуга", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
				</div>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li>@Html.ActionLink("About", "About", "Home")</li>
					<li>
						<a href="@Url.Action( "Index", "Slider", new { area = "Admin" })">@Translations.Slider_Page_Title</a>
					</li>
					<li>
						<a href="@Url.Action( "Index", "Service", new { area = "Admin" })">@Translations.Service_Title</a>
					</li>

					<li>@Html.ActionLink(@Translations.Contacts_Title, "Index", "Contact")</li>
					<li>
						@{
							var count = ViewBag.NewMessagesCount;
						}
						<a href="@Url.Action("Index", "Messages", new { area = "Admin" })">@Translations.Messages_Title <span class="badge">@count</span></a>
					</li>
					@*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
				</ul>
				@Html.Partial("_LoginPartial")
			</div>
		</div>
	</div>
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
		</footer>
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/unobtrusive")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/bootstrap-timepicker")
	@RenderSection("scripts", required: false)
</body>
</html>
