@using Raiduga.Web.Localization

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - Администрирование</title>
	<link rel="icon" href="@Url.Content("~/content/img/favicon.ico")" type="image/x-icon">

	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">

	@Styles.Render("~/Content/css")
	@Styles.Render("~/Content/less/styles")
	@Styles.Render("~/Content/timepicker-less/styles")
	@Styles.Render("~/Content/Admin/less")

	@Scripts.Render("~/bundles/modernizr")

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/unobtrusive")
	@Scripts.Render("~/bundles/momentJs")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/bootstrap-timepicker")
	@Scripts.Render("~/bundles/bootstrap-datetimepicker")
	@RenderSection("scripts", required: false)

</head>
<body class="admin">
	<div class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="title">
					@Html.ActionLink("Райдуга", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
				</div>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li>
						<a href="@Url.Action( "Index", "Admin", new { area = "Admin" })"><i class="fa fa-home"></i></a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Контент <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li>
								<a href="@Url.Action( "Index", "HtmlContent", new { area = "Admin" })">@Translations.Content_Title</a>
							</li>
							<li>
								<a href="@Url.Action( "Index", "Slider", new { area = "Admin" })">@Translations.Slider_Page_Title</a>
							</li>
							<li role="separator" class="divider"></li>
							<li>
								<a href="@Url.Action( "Index", "UserFeedback", new { area = "Admin" })">@Translations.UserFeedback_Title</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="@Url.Action( "Index", "Campaign", new { area = "Admin" })">@Translations.Campaign_Title</a>
					</li>
					<li>
						<a href="@Url.Action( "Index", "Service", new { area = "Admin" })">@Translations.Service_Title</a>
					</li>
					<li>
						<a href="@Url.Action("Index", "Contact", new { area = "Admin"})">@Translations.Contacts_Title</a>
					</li>
					<li>
						<a href="@Url.Action("Index", "Article", new { area = "Admin"})">@Translations.Articles_Title</a>
					</li>
					<li>
						<a href="@Url.Action("Index", "Schedule", new { area = "Admin"})">@Translations.Schedule_PageTitle</a>
					</li>
				</ul>
				@Html.Partial("_LoginPartial")
			</div>
		</div>
	</div>
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<address>
				@Translations.DevelopedBy <a href="https://digitalleader.solutions"><strong>Digital Leader</strong></a>
			</address>
			<p>Контакти підтримки та обслуговування клієнтів:</p>
			<address>

				<i class="fa fa-envelope"></i>
				<a href="mailto:support@digitalleader.solutions">support@digitalleader.solutions</a><br />
				<i class="fa fa-phone"></i><a href="tel:+380961212713">+380 96 121 2713</a>
			</address>
		</footer>
	</div>


</body>
</html>
