@model List<Raiduga.Web.Models.Common.AffiliateViewModel>
@using Raiduga.Web.Localization
@{
	ViewBag.Title = Translations.Contacts_Title;
	var enFormatProvier = new System.Globalization.CultureInfo("en-EN");
}

<div class="contacts">

	<h2 class="title">@Translations.Contacts_Title</h2>

	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		@foreach (var affiliate in Model)
		{
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="heading-@affiliate.Id">
					<h4 class="panel-title pull-left">
						<a role="button"
						   data-toggle="collapse"
						   data-parent="#accordion"
						   href="#collapse-@affiliate.Id"
						   aria-expanded="@affiliate.IsPrimary"
						   aria-controls="collapse-@affiliate.Id">
							@*@affiliate.Title*@
							<i class="fa fa-map-marker"></i>@affiliate.Address.Name
						</a>

					</h4>

					<div class="clearfix"></div>
				</div>
				<div id="collapse-@affiliate.Id" class="panel-collapse collapse @(affiliate.IsPrimary ? "in" : "")" role="tabpanel" aria-labelledby="heading-@affiliate.Id">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-3">
								<address>
									<i class="fa fa-clock-o"></i>
									@Translations.Contacts_Hours_Prompt
									<br />
									@Translations.Contacts_Hours_From @affiliate.Hours.Start.ToString(@"hh\:mm")
									&nbsp;@Translations.Contacts_Hours_To@affiliate.Hours.End.ToString(@"hh\:mm")
								</address>
								@Html.Raw(affiliate.HtmlDataContacts)
								<p>@affiliate.Description</p>
							</div>
							<div class="col-md-9">
								<div id="map-@affiliate.Id" lat="@affiliate.Address.Latitude.ToString(enFormatProvier)" lng="@affiliate.Address.Longitude.ToString(enFormatProvier)" class="map"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		}
	</div>

	@Html.Action("_ContactFormPartial", "Common")
</div>
<script>
	var maps = [];
	var markers = [];
	function initMap() {
		var $maps = $('.map');
		$.each($maps, function (i, value) {
			var uluru = { lat: parseFloat($(value).attr('lat')), lng: parseFloat($(value).attr('lng')) };

			var mapDivId = $(value).attr('id');

			maps[mapDivId] = new google.maps.Map(document.getElementById(mapDivId), {
				zoom: 17,
				center: uluru
			});

			markers[mapDivId] = new google.maps.Marker({
				position: uluru,
				map: maps[mapDivId]
			});
		})
	}

	$('#accordion').on('shown.bs.collapse', function (evt, data) {
		var divId = $(evt.target).find('.map').attr('id');

		var center = maps[divId].getCenter();
		google.maps.event.trigger(maps[divId], 'resize');
		maps[divId].setCenter(center);
	});
</script>

<script async defer
		src="https://maps.googleapis.com/maps/api/js?language=ru-Ru&key=AIzaSyAx5SMPnxPBZz1_1Z8g1h7wZDzGMvDixWQ&callback=initMap">
</script>
