@using Raiduga.Web.Localization

@{
	ViewBag.Title = Translations.SiteName;
}

<div class="row">
	<div class="col-md-12">
		<br />
		<h1 class="text-center">
			<strong>@Translations.Service_Title</strong>
			<br />
		</h1>
		<br />
		@Html.Action("_ServiceHomePartial", "Service")
	</div>
	<div class="col-md-12">
		<h1 class="text-center">
			<strong>@Translations.Home_ContactsUsPrompt</strong>
		</h1>
	</div>
	<div class="col-md-6">
		<div class="contacts">
			@Html.Action("_ContactFormPartial", "Common")
		</div>
	</div>

	<div class="col-md-6">
		<div class="contacts home">
			@Html.Partial("_FastContactsPartial")
		</div>
	</div>
</div>