@using Raiduga.Web.Localization

@{
	ViewBag.Title = Translations.SiteName;
}

<div class="row">
	<div class="col-md-12">
		<br />
		<h1 class="title">
			@Translations.Service_Title
		</h1>
		@Html.Action("_ServiceHomePartial", "Service")
	</div>
</div>

<div class="row features">
	<div class="col-md-12">
		<br />
		<h1 class="title">
			@Translations.Features_Title
		</h1>
		@Html.Action("_HtmlContentPartial", "Common", new { contentName = "FeatureBlock" })
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h1 class="title">
			@Translations.UserFeedback_Title
		</h1>
	</div>
	<div class="col-md-8 col-md-offset-2">
		@Html.Action("_UserFeedbackHomePartial", "UserFeedback")
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h1 class="title">
			@Translations.Home_ContactsUsPrompt
		</h1>
	</div>
	<div class="col-md-8 col-md-offset-2">
		<div class="contacts">
			@Html.Action("_ContactFormPartial", "Contact")
		</div>
	</div>
</div>

