@using Raiduga.Web.Localization
@model List<Raiduga.Web.Models.UserFeedback.UserFeedbackViewModel>

<div class="feedbacks">
	@foreach (var item in Model)
	{
		<div class="feedback-item">
			<div class="row">
				<div class="col-md-3 col-md-offset-1">
					@{
		var srcAction = item.ImageId.HasValue ?
		Url.Action("Show", "File", new { area = "", id = item.ImageId }) :
		"/Content/img/default-user.png";
					}
					<img src="@srcAction"
						 class="img-circle img-responsive"
						 alt="@item.UserName" />
				</div>
				<div class="col-md-7">
					<p>@item.Text</p>
					<hr />
					<p class="testimonial-info">
						@item.UserName
						<span class="pull-right"><i class="fa fa-calendar "></i>@item.CreationDate.Value.ToShortDateString()</span>
					</p>
				</div>
			</div>
		</div>
	}
</div>