@model Raiduga.Web.Models.Article.ArticleViewModel
@using Raiduga.Web.Localization;

@{
	var title = Translations.UserFeedback_Title + " " + Translations.Delete;
	ViewBag.Title = title;
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>@title</h2>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3>@title</h3>
	</div>
	<div class="panel-body">
		<p>
			@Translations.UserFeedback_DeletePrompt
		</p>
	</div>
	<div class="panel-footer">
		@using (Html.BeginForm())
		{
			@Html.AntiForgeryToken()
			@Html.HiddenFor(m => m.Id)
			<a href="@Url.Action("Index", "Article")" class="btn btn-default">@Translations.Cancel</a>
			<input type="submit" class="btn btn-danger" value="@Translations.Delete" />
		}
	</div>
</div>