@using Raiduga.Web.Localization
@model List<Raiduga.Web.Models.Service.ApplyToCourseViewModel>

@{
	ViewBag.Title = Translations.ApplyToCourse_Title;
}

<h2 class="text-center"><strong>@Translations.ApplyToCourse_Title</strong></h2>

<div class="apply-request">

	@foreach (var cr in Model)
	{
		using (Html.BeginForm("MarkAsRead", "Service", new { area = "Admin" }))
		{
			@Html.HiddenFor(m => cr.Id)
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-clock-o"></i> @cr.CreationDate.Value.ToString()
					@if (!cr.UpdationDate.HasValue)
					{
						<span class="label  label-warning pull-right">@Translations.ContactsForm_MessageIsNew</span>
					}
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-3">
							<i class="fa fa-user"></i>
							@cr.ChildName<br />
							<i class="fa fa-birthday-cake" aria-hidden="true"></i>
							@cr.BirthDate.Value.ToShortDateString()
						</div>
						<div class="col-md-4">
							<i class="fa fa-users"></i>
							@cr.CourseName
						</div>
					</div>

				</div>
				<div class="panel-footer">
					<i class="fa fa-envelope"></i>
					<a href="mailto:@cr.Email">@cr.Email</a>&nbsp;&nbsp;&nbsp;
					<i class="fa fa-phone"></i>
					@if (string.IsNullOrEmpty(cr.Phone))
					{
						@Translations.ContactsForm_PhoneNotSet
					}
					else
					{
						<a href="tel:@cr.Phone">@cr.Phone</a>
					}
					@if (!cr.UpdationDate.HasValue)
					{
						<button class="btn btn-success pull-right" type="submit">
							<i class="fa fa-check-circle"></i>@Translations.ContactsForm_MarkAsRead
						</button>
					}
					<div class="clearfix"></div>
				</div>
			</div>
		}
	}
</div>

<div>
	@Html.ActionLink(@Translations.BackToList, "Index")
</div>