@using Raiduga.Web.Localization
@model Raiduga.Web.Models.Service.ServiceViewModel
@{
	ViewBag.Title = Translations.Edit;
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>@Translations.Edit</h2>
@using (Html.BeginForm("Edit", "Service", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	@Html.AntiForgeryToken()

	@Html.HiddenFor(model => model.Id)

	<div class="services">
		<div class="row service-block">
			<div class="col-md-4">
				<img src="@Url.Action("Show", "File", new { area = "", id = Model.ImageId })" />
				<label>@Translations.Slider_SelectAnotherImage</label>
				@Html.TextBoxFor(model => model.File, new { type = "file" })
			</div>
			<div class="col-md-6">
				<h4>
					<strong>
						@Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
					</strong>
				</h4>
				<hr />
				<p>
					@Html.TextAreaFor(model => model.Description, new { @class = "form-control", @rows = "10" })
				</p>
				<br />
				<button type="submit" class="btn btn-primary pull-right">@Translations.Save</button>
			</div>
		</div>
		<hr />
		<p>
			<a href="@Url.Action("CreateCourse", "Service", new { area = "Admin", serviceId = Model.Id })" class="btn btn-success navbar-btn">
				@Translations.Create
			</a>
		</p>
		<div class="courses">

			@foreach (var course in Model.Courses)
			{
			<div class="col-md-6 panel-wrapper">
				<div class="panel">
					<div class="panel-body">
						<div class="title">
							<h4>@course.Name</h4>
						</div>
						<hr />
						<p class="ellipis">@course.Description</p>

						<div class="course-footer">
							<div class="row">
								<div class="col-md-4">
									<i class="fa fa-clock-o"></i>@course.Duration.ToString("hh\\:mm")
								</div>
								<div class="col-md-4">
									<i class="fa fa-dollar"></i>@course.Price &nbsp; грн
								</div>
								<div class="col-md-4">
									<a href="@Url.Action("EditCourse", "Service", new { id = course.Id })"
									   class="btn btn-primary pull-right">@Translations.Edit</a>
									<a href="@Url.Action("DeleteCourse", new { id = @course.Id })" class="btn btn-danger"><i class="fa fa-trash"></i></a>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			}
		</div>
		<div class="clearfix"></div>
	</div>
}
<div>
	@Html.ActionLink(@Translations.BackToList, "Index")
</div>